.tblCenter {
	margin: 0 auto;
	border: 1px solid transparent;
}
/*
.btnApp {
	background-color: darkslategray;
	border-color: darkslategray;
}
.btnApp:hover {
	background-color: slategray;
	border-color: slategray;
}
*/