{% extends 'layout/template.twig' %}
{% block content %}
<table class="tblCenter"><tr><td>
<div id="divLogin">
	<div id="divLoginChild">
		<form id="frmLogin" class="smart-form client-form" action="./login"  method="post">
			<section class="text-center">
				<label class="input">
					<input type="text" id="txtLogin" name="txtLogin" maxlength="7" placeholder="USUÃRIO" required autofocus>
					<i class="icon-append fa fa-user"></i>
				</label>
			</section>

			<section class="text-center">
				<label class="input">
					<input type="password" name="txtPassword" name="txtPassword" placeholder="SENHA" required>
					<i class="icon-append fa fa-lock"></i>
				</label>
			</section>
			<section class="text-center">
				<button class="btn btn-primary btn-xs btnApp">Entrar</button>
			</section>
		</form>
	</div>
</div>
</td></tr></table>
{% endblock %}

{% block script %}
<script src="js/login.js"></script>
{% endblock %}
